spring:
  application:
    name: user-service
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/user-service
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8081

logging:
  level:
    org.springframework.security: DEBUG
