/* You can add global styles to this file, and also import other style files */
:root{
    --color-white:#fff;
    --color-border:#ccc;
    --color-placeholder:#777;
    --color-primary:#007bff;
    --color-primary-cover:#0056b3;
    --color-divider:#ddd;
    --color-text:#333;
    --color-link:#1a73e8;
    --color-background:#f0f0f0;


}

*{
    font-family: Arial, Helvetica, sans-serif;
}




.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    

}

.form-container{
    position:relative;
    background-color: var(--color-white);
    padding: 50px 40px;
    width: 100%;
    max-width: 450px;
    border-radius:8px ;
    border: 1px solid var(--color-border);
    overflow: hidden;
}

.form-header p{
    color: var(--color-placeholder);

}

.form-header h1{
    font-size: 32px;
}

.from-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    

}



.input-field{
    height: 48px;
    padding-inline: 14px;
    border: 1px solid var(--color-border);
    border-radius:6px ;
    width: 100%;
    outline: none;

}



.checkbox-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;

}

.remember-me{
    display: flex;
    align-items: center;
    gap:5px ;
}

.form-btn{
    display: flex;
    border: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
    color: white;
    background-color: var(--color-primary);
    border-radius:6px;
    height: 48px;
    cursor: pointer;
}

.form-btn--submit{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    transition: background-color .3s ease;

}

.form-btn--submit:hover{
    background-color: var(--color-primary-cover);
    
}

.form-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top:20px ;

}

.form-divider{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: var(--color-placeholder);
    margin-top:20px ;
}

.form-divider::before,
.form-divider::after{
    content: "";
    flex:1;
    height: 1px;
    background-color: var(--color-divider);
}

@media (max-width:480px){
    .form-container{
        padding: 60px 30px;
    }
}

 .floating-label{
    
    color: var(--color-placeholder);
    background-color: var(--color-white);
    padding-inline:6px ;
    transform: all .3s ease;
    pointer-events: none;
} 



.input-field{
    border-color:gainsboro ;
}

.input-field:not(:focus):not(:placeholder-shown) ~ .floating-label{
    color: var(--color-floating-label);
}

.under-link{
    color: var(--color-primary);
    
    
}
.under-link:hover{
    cursor: pointer;
}

